<div class="top">
    @for (foundation of foundations; track $index) {
    <app-pile [cards]="foundation" [visible]="true"></app-pile>
    }
    <div class="separator"></div>
    <app-pile [cards]="activeStock" [visible]="true"></app-pile>
    <app-pile [cards]="stock" [visible]="false" (click)="takeStock()"></app-pile>
</div>

<div class="piles">
    @for (pile of piles; track index; let index = $index) {
    <div class="pile">
        <app-pile [cards]="pile" [stacked]="false"></app-pile>
        <app-pile [ngStyle]="getSolvedPileStyle(pile.length)" (click)="solvePile(index)"
            [cards]="solvedPiles[index]" [stacked]="false" [visible]="true"></app-pile>
    </div>
    }
</div>