:host {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.piles,
.top {
    display: flex;
    gap: 1rem;
}

.piles {
    justify-content: space-between;
    min-height: 15rem;
}

app-pile {
    cursor: pointer;
}

.separator {
    flex-grow: 1;
}

.pile {
    width: var(--card-width);
}

.animate-pile {
    position: fixed;
    display: block;
    transition: all 90ms linear;
}

.pile-container {
    position: relative;
}
