:host {
    position: relative;
}

.preview-container,
.card-container {
    position: relative;
}

.card-container {
    height: 0.5rem;

    &.visible {
        height: 1rem;
    }
}

.placeholder-card {
    height: 0;
}

.drop-list {
    position: absolute;
    top: 0;
    left: 0;
    min-height: var(--card-height);
    height: calc(var(--card-height) * 4);
    width: var(--card-width);
}

.placeholder-container {
    height: 0;
    position: relative;
    width: var(--card-width);
}

.placeholder {
    position: absolute;
    top: 0;
    left: 0;
    width: var(--card-width);
    height: var(--card-height);
    background-color: whitesmoke;
    background-color: #d7d7d7;
    border-radius: 0.25rem;
}

::ng-deep {
    .cdk-drag-placeholder {
        opacity: 0;
        width: 0;
        height: 0;
        overflow: hidden;
    }

    .cdk-drag-animating {
        transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
    }

    .list.cdk-drop-list-dragging .drag:not(.cdk-drag-placeholder) {
        transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
    }
}